.glassmorphism {
    background-color: rgba(255, 255, 255, 0.2); /* Set a semi-transparent background color */
    backdrop-filter: blur(5px); /* Apply a blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: 25rem;
    max-height: 85vh;
    border : none
}

.innercard {
    background-color: rgba(255, 255, 255, 0.2); /* Set a semi-transparent background color */
    backdrop-filter: blur(5px); /* Apply a blur effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    color: white;
}
  